<!DOCTYPE html>
<html lang="en">

<head>
	<title>FastQC Aggregated Report</title>
	<style>
		body {
			margin: 0;
			font-family: sans-serif;
		}

		header {
			padding: 0.5em;
			background: #eee;
		}

		h2 {
			color: #800000;
			font-size: 1.5em;
		}

		#toolbar {
			padding: 0 16px;
		}

		#per-base-quality-grid {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			/* column gap of 6px allows 4 imagse with 400px width on 1920 width screen */
			column-gap: 6px;

		}

		.per-base-quality {
			display: block;
			max-width: 400px;
			height: auto;
		}
	</style>
	<script>
		"use strict";
		var toggleShowFail = function () {
			var x = document.getElementsByClassName("fail");
			for (var i = 0; i < x.length; i++) {
				if (x[i].style.display == "none") {
					x[i].style.display = "block";
				}
				else {
					x[i].style.display = "none";
				}
			}
		};

	</script>
</head>

<body>
	<header>
		{{ dt.to_rfc2822() }}
	</header>
	<main>
		<div id="toolbar">
			<h2>Per base sequence quality</h2>
			<input type="checkbox" id="check" onClick="toggleShowFail()">
			<label for="check">Show failed only</label>
		</div>

		<div id="per-base-quality-grid">
			{% for s in sample_dirs %}
			<figure>
				<img class="per-base-quality" src="{{s}}_fastqc/Images/per_base_quality.png" />
				<figcaption>{{s}}</figcaption>
			</figure>
			{% endfor %}
		</div>
		<p class="fail">
			Fail
		</p>
	</main>
</body>

</html>
